.portada
{
	display: flex;
	justify-content: space-between;
	background: black;
	width: 100%;
}
.logo
{
	display: inline-block;
	margin: 0;
}
.logo img
{
	width: 50px;
	margin-top: 8px;
	margin-left: 15px;
}
.menu
{
	display: inline-block;
	padding-right: 30px;
	padding-top: 8px;
	font-size: 20px;
}
.menu li
{
	display: inline-block;
	margin-left: 30px;
}
.menu a
{
	color: white;
	text-transform: uppercase;
}
.contenedor
{
	margin-bottom: 20px;
}
.contenedor img
{
	display: block;
	margin: auto;
	width: 60%;
}
.contenedor-b
{
	display: block;
	width: 30%;
	position: absolute;
	left: 310px;
	top: 415px;
}
.contenedor-b img
{
	opacity: 0.9;
}
.contenedor-b p
{
	position: absolute;
	left: 85px;
	bottom: 10px;
	font-size: 20px;
	color: brown;
}
.contenido
{
	display: flex;
	justify-content: space-around;
}
.contenido img
{
	width: 400px;
}
.aviso h1
{
	text-align: center;
}
.contenido p
{
	width: 400px;
}
.footer
{
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
}
.boton
{
	margin-left: 10px;
}
.indicador
{
	margin-right: 20px;
}